@import '../style.css';



/* Specific styles for recovery */
body.recovery-page .header-recovery{
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 2rem;
    gap: 0.9rem;
    border-bottom: 0.5px solid #e0e0e0;

    p{
        background-color: var(--color-primary);
        width: 2rem;
        height: 1.5rem;
        text-align: center;
        color: white;
        border-radius: 0.5rem;
    }

    h3{
        font-weight: 600;
    }
}

body.recovery-page .main-recovery{
    padding-top: 10rem;
    height: 90vh;
    width: 100%;
}


body.recovery-page section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
    padding: 1.5rem 5rem 1.5rem 5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: auto;
    margin-top: 5%;


    h2{
        font-weight: 700;
    }

    p{
        font-weight: 400;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    .input-group{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.3rem;

        label{
            font-weight: 400;
        }

        input{
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            font-size: 1rem;
        }
        input:focus{
            outline: none;
        }


        button{
            background-color: var(--color-primary);
            color: white;
            border: none;
            padding: 0.7rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-weight: 700;
            transition: 0.3s;
        }
        button:hover{
            background-color: var(--color-primary-hover);
            border: 1px solid var(--color-primary-hover);
            transition: 0.3s;
        }
        button:disabled{
            background-color: var(--color-primary-hover);
            border: 1px solid var(--color-primary-hover);
            transition: 0.3s;
            cursor: not-allowed;
        }
    }

     a{
            text-decoration: none;
            color: var(--color-primary);
            font-size: 0.9rem;
            font-weight: 400;
            margin-top: 0.5rem;
        }

}

@media (min-width: 0px) and (max-width: 600px){

    body.recovery-page .main-recovery{
        width: 100%;
        padding-top: 10rem;
    }
    body.recovery-page section{
        width:90%;
        align-items: center;

        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.9rem;
        }

        form{
            padding: 0;
        }

        .input-group{
            padding: 0;
        }

        input{
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            font-size: 1rem;
            width: 15rem;
        }

        button{
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            font-size: 1rem;
        }

        
    }
    body.recovery-page section .input-group{
        width:100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px){

    body.recovery-page .main-recovery{
        max-height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    body.recovery-page section{
        width: 80%;
        

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.2rem;
        }

        form{
            padding: 0;

            .input-group{
                padding: 0;

                label{
                    font-weight: 400;
                    font-size: 1.3rem;
                }

                input{
                    font-size: 1.2rem;
                }
            }

            button{
                font-size: 1.4rem;
            }

            #login-link a{
                font-size: 1rem;
            }
        }
    }
}
